.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.workspace {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 2fr 5fr 8fr;
    grid-template-rows: 1fr 2fr;
}

.languages {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.identifiers {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.translation {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.description {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
