.identifiers div.identifiers-filter {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.identifiers div.identifiers-list {
    height: calc(100svh - 125px);
    overflow-y: auto;
}

.identifiers ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.identifiers li {
    cursor: pointer;
    margin-bottom: 5px;
    margin-right: 5px;
}

.identifiers li div {
    display: flex;
    justify-content: space-between;
}

.identifiers li:last-child {
    margin-bottom: 0px;
}

.identifiers li:focus-visible {
    outline: 2px solid var(--control-colour);
}

.identifiers li.selected {
    outline-offset: 2px;
    background-color: var(--control-colour);
    color: var(--control-text-colour);
}

.identifiers li span:last-child::after {
    ""content: "●";
    font-size: 18px;
}

.identifiers li.ok span:last-child::after {
    color: #00ca06;
}

.identifiers li.ok-uses-target-fallback span:last-child::after {
    content: "⇇●";
    color: #00ca06;
}

.identifiers li.missing-target span:last-child::after {
    color: red;
}

.identifiers li.superfluous-target span:last-child::after {
    color: #ffc300;
}

.identifiers li.superfluous-target-fallback span:last-child::after {
    content: "⇇●";
    color: #ffc300;
}
