.languages-tree ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.languages-tree ul li {
    margin-top: 10px;
    margin-right: 5px;
}

.languages-tree ul ul {
    padding-left: 20px;
}

.languages-tree ul ul li {
    cursor: pointer;
    margin-bottom: 5px;
}

.languages-tree ul ul li div {
    display: flex;
    justify-content: space-between;
}

.languages-tree ul ul li:focus-visible {
    outline: 2px solid var(--control-colour);
}

.languages-tree ul ul li.selected {
    -moz-outline-radius-bottomleft: 2px solid var(--control-colour);
    background-color: var(--control-colour);
    color: var(--control-text-colour);
}

.languages-tree ul ul li.reference {
    font-weight: bold;
}

.languages-tree ul ul li span:last-child::after {
    content: "●";
    font-size: 18px;
}

.languages-tree ul ul li.ok span:last-child::after {
    color: #00ca06;
}

.languages-tree ul ul li.warning span:last-child::after {
    color: #ffc300;
}

.languages-tree ul ul li.error span:last-child::after {
    color: #ff0000;
}
