:root {
    --background-colour: #546f82;
    --control-colour: hsl(from var(--background-colour) h s 50%);
    --text-colour: #f8f8ff;
    --warning-colour: #daa520;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-colour);
    color: var(--text-colour);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#main {
    display: flex;
    flex-direction: column;
    height: 98svh;
    width: 98svw;
}
