.translation {
    border-radius: 10px;
    border: 1px solid var(--border-colour);
    margin: 10px;
    padding: 10px;
}

.translation-comparison {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
}

.translation-comparison > div {
    white-space-collapse: preserve;
}

.translation-comparison > span {
    background-color: var(--border-colour);
}

.translation-comparison > div.lhs {
    padding-right: 10px;
}

.translation-comparison > div.rhs {
    padding-left: 10px;
}
