.translation {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.translation-comparison {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    grid-template-rows: auto 1fr;
    height: 100%;
    overflow: hidden;
}

.translation-content {
    white-space-collapse: preserve;
    overlay: auto;
    min-height: 0;
}

.translation-comparison > span {
    background-color: var(--border-colour);
}

.translation-comparison > div.lhs {
    padding-right: 10px;
}

.translation-comparison > div.rhs {
    padding-left: 10px;
}
