.warnings {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: none;
}

.warnings-panel {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 10px;
    column-gap: 15px;
}

.warnings-pill {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 9999px;
    background-color: var(--border-colour-highlight);
    color: var(--border-colour-text);
    font-size: smaller;
    text-align: center;
    white-space: nowrap;
    max-width: fit-content;
    min-width: fit-content;
    border: none;
    transition:
        background-color 0.3s,
        box-shadow 0.2s;
}
