name: CI

on:
    push:
        branches:
            - main

jobs:
    qa:
        uses: nigeleke/github/.github/workflows/rust-qa.yml@main

    publish:
        needs: [qa]
        uses: nigeleke/github/.github/workflows/rust-publish.yml@main
