name: Release

on:
    push:
        tags:
            - "v*.*.*"

jobs:
    release:
        uses: nigeleke/github/.github/workflows/rust-release-desktop.yml@main
        with:
            packages: lingora-cli,lingora-tui

    publish:
        needs: [release]
        uses: nigeleke/github/.github/workflows/rust-publish.yml@main
        secrets:
            CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
