name: Release

on:
    push:
        tags:
            - "v*.*.*"

jobs:
    tags:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: nigeleke/github/.github/actions/cargo-verify-version-vs-tag@main

    release:
        needs: [tags]
        uses: nigeleke/github/.github/workflows/rust-release-desktop.yml@main
        with:
            packages: lingora-cli,lingora-tui

    rust-publish:
        needs: [release]
        uses: nigeleke/github/.github/workflows/rust-publish.yml@main
        secrets:
            CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

    crates-io-publish:
        needs: [rust-publish]
        uses: nigeleke/github/.github/workflows/crates-io-publish.yml@main
        secrets:
            CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
